@import './template/variable';

@media (max-width: 991px) {
    #product {
        .row {
            .col-md-6 {
                h2 {
                    font-size: $h4;
                }
                p {
                    padding-right: 0;
                    &:after {
                        top: -15px;
                    }
                }
                a {
                    margin-right: 0;
                }
                &.order-md-0 {
                    p {
                        padding-left: 0;
                    }
                    a {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    #slider {
        h1 {
            font-size: 60px;
        }
    }
    header {
        .container {
            position: relative;
        }
        .contact {
            display: none;
            position: absolute;
            background: $white;
            border-radius: 20px;
            padding: 15px 20px;
            right: 15px;
            top: 115%;
            border: 1px solid $blue;
            &.active {
                display: block;
            }
            ul {
                li {
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        padding: 7px 0;
        .logo {
            img {
                max-height: 25px;
            }
        }
    }
    #product {
        .row {
            .col-md-6 {
                text-align: left;
                .number {
                    &:before {
                        right: auto;
                        left: 0;
                    }
                }
                p {
                    &:after {
                        right: auto;
                        left: 0;
                    }
                }
                img {
                    margin-bottom: 30px;
                }
            }
        }
    }
    #slider {
        h4 {
            font-size: 20px;
        }
        h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }
        img {
            max-width: 300px;
            margin: 0 auto 30px;
        }
        .owl-slider {
            .row {
                height: auto;
            }
        }
        p {
            font-size: $small;
        }
        a {
            margin-left: 10px;
        }
        .owl-dots {
            flex-direction: row;
            height: auto;
            width: 100%;
            top: auto;
            bottom: 0;
            .owl-dot {
                font-size: 20px;
                position: relative;
                margin: 5px;
                &:after {
                    content: none;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .btn-outline-primary {
        font-size: $small;
        padding: 0 15px;
        line-height: 34px;
    }
    .white-popup-block h3 {
        font-size: 30px;
    }
    footer {
        font-size: $small;
    }
}
