@import './template/variable';
@import './template/fonts';
@import './template/animate';
@import './template/flaticon';

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: $normal;
    line-height: 1.55;
    font-smoothing: antialiased;
    color: $main;
}

a,
button,
.animated {
    transition: all 0.4s ease;
}

img {
    max-width: 100%;
}

h1,
.h1 {
    font-size: $h1;
    font-weight: 800;
}
h2,
.h2 {
    font-size: $h2;
    font-weight: 800;
}
h3,
.h3 {
    font-size: $h3;
    font-weight: 800;
}
h4,
.h4 {
    font-size: $h4;
    font-weight: 800;
}

h5,
.h5 {
    font-size: $h5;
    font-weight: 800;
}

header {
    width: 100%;
    position: absolute;
}

#slider,
#product {
    a {
        color: $red;
        font-weight: 800;
        position: relative;
        text-decoration: none;
        &:before {
            content: '';
            width: 40px;
            height: 40px;
            background-color: $yellow;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            left: -15px;
            border-radius: 50%;
            z-index: -1;
        }
        i {
            padding-left: 5px;
            position: relative;
            top: 1px;
            transition: all 0.4s ease;
        }
        &:hover {
            i {
                padding-left: 10px;
            }
        }
    }
}

#slider {
    background: $grey;
    height: 100vh;
}

#product {
    .row {
        margin: 100px 0;
        .col-md-6 {
            text-align: right;
            .number {
                font-weight: 800;
                font-size: $h5;
                margin-bottom: 30px;
                padding-top: 55px;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 50px;
                    background: $main;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            h2 {
                margin-bottom: 30px;
            }
            p {
                padding-right: 90px;
                position: relative;
                color: lighten($main, 30%);
                margin-bottom: 40px;
                &:after {
                    content: '';
                    width: 70px;
                    height: 3px;
                    background: $main;
                    position: absolute;
                    top: 10px;
                    right: 0;
                }
            }
            a {
                display: inline-block;
                margin-right: 90px;
            }
            &.order-md-0 {
                text-align: left;
                .number {
                    &:before {
                        left: 0;
                        right: auto;
                    }
                }
                p {
                    padding-right: 0;
                    padding-left: 90px;
                    &:after {
                        right: auto;
                        left: 0;
                    }
                }
                a {
                    margin-right: 0;
                    margin-left: 90px;
                }
            }
        }
    }
}

footer {
    background: $grey;
    border-top: 1px solid lighten($main, 65%);
}
